%h1 Posts
= link_to 'Add post', new_post_path
%ul
  - @posts.each do |post|
    %li
      = image_tag post.picture.thumb 
      = link_to post.title, post_path(post)
      = link_to 'Edit', edit_post_path(post)
      = link_to 'Delete', post_path(post), method: :delete
= paginate @posts
